@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Pirata+One|Rubik:900');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    /* font-family: 'poopins', sans-serif; */
    color: white;
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar-fixed-top.scrolled {
    transition: 0.6s;
    background-color: #fff !important;
    transition: background-color 200ms linear; 
    opacity: 1;
    /* padding: 5px 10px; */
  }
/* NAVBAR */

.navbar {
   
    background: #fff ;
    justify-content: center;
    width: 100%;
    top: 0;
    transition: 1s;
    z-index: 100000;
    position: fixed; 
    padding: 5px 10px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
    
}


.bookmarks {
    font-size: 0.8rem;
    letter-spacing: 2px;
    padding-left: 1.5rem;
    padding-top: .1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #cab80e;
    justify-content: center;
    display: inline-block;
    min-height: 3.2vh;
    max-height: 3vh;

}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.bookmarks::after {
   
    border-spacing: 15px;
    text-decoration: none;
    content: '';
    height: 2px;
    max-width: 200px;
    background: #cab80e;
    width: 1.5s;
}

.bookmarks:hover::after {
    width: 100%;
    transition: width .5s;
    
   
}

.bookmarks:hover {
    color: #ffe600;
    text-shadow: 0px 1px 1px #000;
    transition:  .5s; 
}


/* END NAVBAR */


/* JUMBOTRON */

#main-panel {
    /* background-image: linear-gradient(to right rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1.2)), url(img/background.png); */
    
    /* background-image: linear-gradient(to right, #2c3135e3, rgba(24, 23, 23, 0.8)), url(img/site/2.jpg); */
    background: #f1f1f1;
 
  
}


/* START KURSY */
#kursy{
    color: #292b2c;
    text-align: left;
}

#kursy h3{
    color: #45606d;
    text-align: left;
}
#kursy h5{
    color: #5e686d;
    text-align: left;
    line-height: 20pt;
    font-weight: 400;
}
#kursy i{
    color: #5e686d;
    text-align: left;
    line-height: 20pt;
    font-weight: 400;
}
#kursy ul{
    display:table-row;
    font-weight: 600;
    font-size: 120%;
    color: #292b2c;
    list-style-type: none;
}
#kursy ul li
{
   margin: auto;
    display: table-cell;
    list-style-type: none;
    vertical-align: middle;
}

/* END KURSY */

/* END JUMBOTRON */


/* LOGO */

.text-logo {
    /* text-shadow: 0px 1px 1px #000; */
    color: #cab80e;
    cursor: pointer;
    margin: auto;
    vertical-align: middle;
    font-size: 1.3rem;
    /* text-shadow: 2px 2px 8px #000000; */
    letter-spacing: 2px;
    font-weight: 900;
    transition: .5s;
}



/* END LOGO */


/* SHADOW EFFECT*/

.shadow-effect {
    filter: brightness(60%);
}


/* END shadow effect */


/* PERSONY*/

.person-name {
    color: #cab80e;
    padding: 5px;
    font-size: 100%;
    font-weight: bold;
    transition: .5s;
}




/* KIND OF SPORT */

.shadow-effect-box {
    box-shadow: 0 5px 15px -5px #000;
}

.shadow-effect-text {
    text-shadow: 2px 2px 8px #000000;
}

.body-text-section {
    background-color: #333;
    opacity: 0.95;
}
.back-card{
    
    background: #f1f1f1;
    margin-bottom: 4rem;
}

.card{
    cursor: pointer;
}


/* END KIND OF SPORT */


/* NEW GROUPD SECTION */




/* KARNETY */


/* END KARNETY */


/* clip-path: polygon(0 0, 42% 0, 63% 100%, 0 100%); */


/* END NEW GROUP SECTION */

.padding {
    padding-bottom: 2rem;
}



/* social design */


.btn-social {
    display: inline-block;
    list-style: none;
    width: 45px;
    height: 45px;
    font-size: 1.5rem;
    background: #343a40;
    font-weight: 900;
    padding: 10px;
    margin: 5px;
    border-radius: 50%;
    /* box-shadow: 0 5px 15px -5px #000; */
    color: #cfcfcf;
    transition: .5s;
}

.btn-social:hover {
    color: #fff;
    border: 1px solid #fff;
    background: #343a40;
    transition: .5s;
}

.fa-circle {
    color: #fff;
    transform: scale(0.6);
}

.kind-of-training {
    list-style: none;
    width: 90px;
    height: 20px;
    font-size: 35px;
    background: #fff;
    padding: 30px;
    margin: 10px;
    border-radius: 20%;
    box-shadow: 0 5px 15px -5px #000;
    color: darkorange;
    transition: .5s;
}


/* End social design */

footer {
    padding-top: 1rem;
    bottom: 0;
    background-color: #292b2c;
    color: #cfcfcf;
}

hr.light {
    border-top: 1px solid #cfcfcf;
    width: 60%;
    margin-top: .8rem;
}

footer a {
    color: #cfcfcf;
}

.styling-footer {
    font-size: 0.1rem;
}
.foot-header{
    font-size: 90%;
    /* color: #cab80e; */
    color: #fff;

}
hr.light-100 {
    border-top: 1px solid #b6b6b6;
    width: 75%;
    margin-top: .8rem;
}
.footer-copyright{
    width: 57%;
    margin: auto;
    text-align: center; 
    justify-content: center;
    border-top: 0.1rem solid #cfcfcf;
}

.footer-sponsorzy{
    /* height: 80px; */
    width: 100%;
    text-align: center; 
    justify-content: center;
    /* border-bottom: 0.1rem solid #cfcfcf; */
}


/* CARD */

.card {
    min-height: 300px;
    /* margin: 20px; */
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    color: #000;
    text-align: center;
    /* margin: 30px; */

    box-shadow: 0 5px 15px -5px #000;
    /* width: 17%; */
    max-width: 710px;
    min-width: 170px;
  
   
}

.card-body h5 {
    font-size: 14px;
    font-weight: bold;
}

.card-body h7 {
    font-size: 13px;
}

.card-body h6 {
    font-size: 11px;
}

.navbar-toggle {
    width: 100%;
    float: none;
    margin-right: 0;
}



/* END CARD */

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    width: 500px;
}


/*---Media Queries --*/
@media only screen and (max-width: 262px) { 
    * { font-size: 30% }
    
 }
@media only screen and (max-width: 576px) {
   * { font-size: 90% }
   

}

@media only screen and (max-width: 768px) {
   
    
}

@media only screen and (max-width: 992px) {
   
}


@media only screen and (max-width: 1200px) { 
    .hide-this{
    display:none;  
    }
 #elementis{
    width: 100%;
    }
 
}

@media only screen and (max-width: 870px) { 


}

@media only screen and (max-width: 991px) {
    .img-start{
        display:none;
       }

    

   

    .social a {
        font-size: 4em;
        padding: 2rem;
    }
    .navbar {
        border-bottom: 1px solid white;
    }
    .bookmarks {
        padding: auto;
        margin-top: 10px;
        text-align: center;
        justify-content: center;
        font: size 0.7em;
        width: 100%;
    }
    .bookmarks:hover {
        justify-content: center;
        font: size 0.7em;
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .social a {
        font-size: 2.5em;
        padding: 1.2rem;
    }
}

@media only screen and (max-width: 576px) {
    .cytat {
        display: none;
    }
    .display-4 {
        font-size: 160%;
    }
    .social a {
        font-size: 2em;
        padding: .7rem;
    }
}


/*---Firefox Bug Fix --*/

.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}


/*--- Fixed Background Image --*/

figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0!important;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#fixed {
    background-image: url('img/mac.png');
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}


/* AK */

#AK {
    color: white;
    text-decoration: none;
    transition: 0.2s linear;
}

#AK:hover {
    /* border-radius: 10%; */
    color: #cab80e;
    border: none;
}

#AK i {
    position: relative;
    background: #181818;
    text-decoration: none;
    color: #cab80e;
    top: 30px;
    margin-left: 30px;
    box-shadow: 0 5px 15px -5px #00000070;
    /* border-radius: 10%; */
}


/* End AK */


/*--- Bootstrap Padding Fix --*/

[class*="col-"] {
    padding: 1rem;
}


/* galeria standard*/

#galeria {
    /* background: url(img/backg.jpg); */
}

.container-gallery {
    width: 100%;
    max-width: 120rem;
    margin: auto;
    padding: 0 1rem;
    padding-bottom: 20px;
}

.image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    grid-template-areas: 'img-1 img-2 img-3 img-3' 'img-1 img-4 img-5 img-6' 'img-7 img-7 img-8 img-6';
}

.image-gallery a {
    width: 100%;
    height: 22rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.image-gallery a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background-color: rgba(0, 0, 0, .8); */
    opacity: 0;
    transition: opacity .5s;
}

.image-gallery a:hover::before {
    opacity: 1;
}

.img-hover-effect:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
    transition: .5s ease-in-out;
}

.img-hover-effect {
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(1) brightness(0.5);
}

.img-1 {
    grid-area: img-1;
    min-height: 45.5rem;
    background-image: url("img/background.png");
}

.img-2 {
    grid-area: img-2;
    background-image: url("img/background.png");
}

.img-3 {
    grid-area: img-3;
    background-image: url("img/background.png");
}

.img-4 {
    grid-area: img-4;
    background-image: url("img/background.png");
}

.img-5 {
    grid-area: img-5;
    background-image: url("img/background.png");
}

.img-6 {
    grid-area: img-6;
    min-height: 45.5rem;
    background-image: url("img/background.png");
}

.img-7 {
    grid-area: img-7;
    background-image: url("img/background.png");
}

.img-8 {
    grid-area: img-8;
    background-image: url("img/background.png");
}


/* end galeria */

@media screen and (max-width:900px) {
    .image-gallery {
        grid-template-areas: 'img-1 img-1 img-2 img-2' 'img-1 img-1 img-3 img-3' 'img-4 img-4 img-5 img-5' 'img-6 img-7 img-7 img-7' 'img-8 img-8 img-8 img-8';
    }
    .image-gallery a {
        height: 20rem;
    }
    .img-1 {
        min-height: 41.5rem;
    }
    .img-6 {
        min-height: 20rem;
    }
}

@media screen and (max-width:600px) {
    .image-gallery {
        grid-template-areas: 'img-1 img-1 img-1 img-1' 'img-2 img-2 img-2 img-2' 'img-3 img-3 img-3 img-3' 'img-4 img-4 img-4 img-4' 'img-5 img-5 img-5 img-5' 'img-6 img-6 img-6 img-6' 'img-7 img-7 img-7 img-7' 'img-8 img-8 img-8 img-8';
    }
    .image-gallery a,
    .img-1,
    .img-6 {
        min-height: 30rem;
        height: 30rem;
    }
}


/* Traning */

.box-traning {
    text-align: center;
    display: inline-block;
    /* position: relative; */
    width: 500px;
    height: 300px;
    background: #fff;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.box-traning .box-type-of-traning {
    position: absolute;
    top: 20px;
    left: 0;
    color: #fff000;
    height: 100%;
    background: #f00;
    transition: 0.5s;
    z-index: 1;
}

.box-traning .box-type-of-traning:hover {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.5s;
    z-index: 1;
}


/* End traning */


/* Social media card */

.btn-social-media-card-facebook,
.btn-social-media-card-instagram {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 4px;
    
    font-size: 15px;
    margin: 5px;
    border-radius: 50%;
    box-shadow: 0 5px 15px -5px #000;
    color: white;
    transition: .5s;
}

.btn-social-media-card-facebook {
    background: #3B5998;
}

.btn-social-media-card-instagram {
    background: #125688;
}

.btn-social-media-card-facebook:hover {
    background: white;
    color: #3B5998;
}

.btn-social-media-card-instagram:hover {
    background: white;
    color: #3B5998;
}

.card-title {
    text-shadow: 0 0 1px #000;
}

.lead {
    font-size: 18px;
    /* width: 75%; */
}

.center-txt {
    width: 60%;
}

.header-panel {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-size: 210%;
    letter-spacing: 2px;
    color: #292b2c;
    margin: 0 auto;
    font-weight: 700;
    
}

.header-info{
    font-size: 250%;
    letter-spacing: 2px;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    font-weight: 750;
}
.header-content
{
    font-size: 100%;
}
.content-text{
    text-align: justify;
    text-justify: inter-word;
 
    font-size: 100%;
    /* letter-spacing: 2px; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(78, 78, 78);
    padding-left: 10px;
    line-height: 1.5;
    border-left: 5px solid rgb(231, 208, 0);
    margin: 0 auto;
}

.content-text-without-border{
    text-align: justify;
    text-justify: inter-word;
 
    font-size: 100%;
    /* letter-spacing: 2px; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(78, 78, 78);
    padding: 10px;
    line-height: 1.5;
    margin: 0 auto;
}
.border-left-content{
    width: auto;
    padding: 20px;
    /* border-bottom: 1px solid #cfcfcf; */
    border-left: 10px solid #cab80e;
 
    /* border-right: 10px solid #cab80e; */
 
    box-shadow: 0px 7px 10px #000;
    position: relative;
    margin: 10px;
  
}


/* TEAM */



/* #team .card:hover {
    background: #cab80e;
    border-radius: 5px;
    color: #000;
    box-shadow: 5px 5px 10px #9e9e9e;
}

#team .card:hover h3,
#team .card:hover {
    color: #000;
} */


/*END TEAM */


/* TABLE */



/* SCROLLBAR */

::-webkit-scrollbar {
    width: 15px;
}


/* Track */

::-webkit-scrollbar-track {
    background: silver;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: rgb(150, 136, 11);
    border-radius: 5px;
}


/* END SCROLLBAR */



/* FAQ */

#FAQ{
    /* background-image: url(./img/back.png);
     */
     background: rgb(245, 245, 245);   
}
.according{
    
    width: 100%;
    max-width: 1100px;
    
}
.container-FAQ{
    width: auto 100%;
    max-width: 100rem;
    margin: 0 auto;
    font-family: 'Lemon', cursive;
    font-size: 100%;
   
  
}



/* END FAQ */


  /* CONTACT US */
  #Kontakt{
    margin: 2rem auto;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/background.png); */
  }
  
  
  .images-Left{
    width:100%;
    height: 100%;
    background-color:#FFFFFF;
    margin-top:10px;
    overflow: hidden;
  }
  .contct-us-section{
    margin:1rem 0;
    /* border: 1px solid #000; 
     */
     border-left: 5px solid #e0cc14; 
    box-shadow: .2rem 1px .2rem rgba(0, 0, 0, .3);
      background: white;
      max-width: 800px;
      margin: 0px auto;
      position: relative;
      padding: 30px;
  }
  .title-contact-us{
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-size: 1.5em;
    line-height: 40px;
    padding-bottom: 18px;
    color: #5543ca;
    background: #cab80e;
    /* background: linear-gradient(to right, #cab80e 0%, rgb(102, 101, 101) 110%); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .form-field .contact-form{

    position: relative;
    margin: 32px 0;
  }
  .contact-form .form-control{
      display: block;
      width: 100%;
      height: 36px;
      border-width:  0 0 2px 0;
      border-color: #5543ca!important;
      font-size: 13px;
      line-height: 26px;
      font-weight: 400;
  }
   .btn-send{
      display: inline-block;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: #000;
      font-size: 0.8em;
      padding: 8px 16px;   transition: 0s background-color;
      border:none;
        background: linear-gradient(to right, #fff 0%, rgb(102, 101, 101) 100%);
        width: auto 200px;
        cursor: pointer;
        
    }
    .btn-send {
        border: 1px solid #cab80e;
        background: none;
        padding: 0.5rem 1rem;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    .btn-send:hover {
        background: #cab80e;
        color: #fff;
        border: 1px solid #cab80e;
        
        font-weight: bold;
        /* color: #fff; */
    }

/* END CONTACT US */

/* FFCC00 */


/* 404040 */


/* END TABLE */


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
