


/* END NAVBAR */

/* JUMBOTRON */

.jumbotron {
  /* background-image: linear-gradient(to right rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1.2)), url(img/background.png); */

  /* background-image: linear-gradient(to right, #2c3135e3, rgba(24, 23, 23, 0.8)), url(img/site/2.jpg); */
  background-image: linear-gradient(
      to right,
      rgba(24, 23, 23, 0.6),
      rgba(24, 23, 23, 0.9)
    ),
    url(../img/LogaGDAW/Test.jpg);
  height: 70vh;
  background-size: cover;
  background-position: center;
  color: #fff;
  border-radius: 0px !important;
}

.jumbotron h1 {
  margin: 18px 0;
  font-size: 2.5rem;
  font-weight: 600;
  text-shadow: 1px 1px 18px #000000;
}



/* END JUMBOTRON */
/* SEKCJE  AKADEMIA*/

.moreText {
  display: none;
}

.read-more-btn {
  border: 1px solid #cab80e;
  background: none;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.8rem;
}

/* END SEKCJA AKADEMIA */

/* SEKCJE  DLACZEGO-AKADEMIA*/
#Dlaczego-akademia {
  position: relative;
  top: -30px;
  right: 0;
  height: 0px;
}
/* END SEKCJA  DLACZEGO-AKADEMIA */


/* PERSONY*/

.person-name {
  color: #cab80e;
  padding: 5px;
  font-size: 100%;
  font-weight: bold;
  transition: 0.5s;
}

/* BLog post */

/* CAROUSEL */


/* BTN */


.btn-primary {
  border: 1px solid #cab80e;
  background: none;
  font-size: 0.8rem;
  padding: 1rem 2rem;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.btn-primary:hover {
  background: #cab80e;
  color: #fff;
  border: 2px solid #cab80e;
  font-weight: bold;
}

/*END  BTN */


/* BACK-CARD */

.back-card {
  background: -webkit-linear-gradient(top, #343a40 60%, #fff 40%);
  background: -moz-linear-gradient(top, #343a40 60%, #fff 40%);
  background: -o-linear-gradient(top, #343a40 60%, #fff 40%);
  background: -ms-linear-gradient(top, #343a40 60%, #fff 40%);
  background: linear-gradient(top, #343a40 60%, #fff 40%);
}

/* END BACK-CARD */
/* CARD */
.card{
  
  box-shadow: 0 5px 15px -5px #000;
}

/* ZAJECIA */

#Zajęcia{
  position: relative;
  top: -50px;
  right: 0;
  height: 0px;
}

#Zajecia {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  background-image: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url(../img/site/20161213_163116.jpg);
}

.border-under-text {
  padding-bottom: 1rem;
  margin: auto;
  border-bottom: 3px solid rgb(202, 183, 14);
}
/* END ZAJECIA */
#treningi {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(#2c3135e6, rgba(24, 23, 23, 0.9)),
    url(../img/site/5.jpg);

  color: #efefef !important;
}
#treningi2 {
  background-image: linear-gradient(
      rgba(206, 205, 205, 0.4),
      rgba(206, 205, 205, 0.4)
    ),
    url(../img/back.png);
  color: #343a40 !important;
  background-attachment: 50px;
}
#treningi2 h1 {
  font-weight: 900;
  text-align: center;
  color: #343a40 !important;
}

#treningi2 h2 {
  font-weight: bold;
  text-align: center;
  color: #343a40 !important;
}

#treningi h1 {
  text-align: center;
  font-weight: bold;
  color: #efefef !important;
}

#treningi h2 {
  font-weight: bold;
  text-align: center;
  color: #efefef !important;
}


.padding {
  padding-bottom: 2rem;
}


/* Social media card */


.content-text {
  text-align: justify;
  text-justify: inter-word;

  font-size: 100%;
  /* letter-spacing: 2px; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(78, 78, 78);
  padding-left: 10px;
  line-height: 1.5;
  border-left: 5px solid rgb(231, 208, 0);
  margin: 0 auto;
}

.content-text-without-border {
  text-align: justify;
  text-justify: inter-word;

  font-size: 100%;
  /* letter-spacing: 2px; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(78, 78, 78);
  padding: 10px;
  line-height: 1.5;
  margin: 0 auto;
}
.border-left-content {
  width: auto;
  padding: 20px;
  /* border-bottom: 1px solid #cfcfcf; */
  border-left: 10px solid #cab80e;

  /* border-right: 10px solid #cab80e; */

  box-shadow: 0px 7px 10px #000;
  position: relative;
  margin: 10px;
}

/* TEAM */

#team img {
  margin-top: -50px;
  width: 40%;
  object-fit: cover;
  /* z-index: 999; */
  border: 3px solid #ebeef8;
}

#team i {
  font-size: 26px;
  color: #555;
}

#team p {
  font-weight: 500;
}

#team .card {
  border-radius: 0;
  box-shadow: 5px 5px 15px #cab80e;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
}




/* FFCC00 */

/* 404040 */

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
